 {% extends 'application_systeme/basecandidat.html' %}


 {% block content%}
 
 <div class="login-form-area section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-7 col-md-10">
        <div class="login-form">
          <div class="login-heading">
            <span>Login</span>
            <p>Entrez les détails de connexion pour obtenir l'accès</p>
            </div>
    <form method="POST">
    {% csrf_token %}
    <div class="input-box">
    <div class="single-input-fields">
      <label>Nom d'utilisateur ou adresse e-mail</label>
    <input type=" text" name="username" >
    </div>
    <div class="single-input-fields">
      <label>Mot de passe</label>
      <input type="password" name="password" id="" >
      </div>
    
    <button type="submit" class="btn login-btn">Login</button>
  </div>
  <div class="login-footer">
  <p>vous n'avez pas de compte? <a href="">Inscrivez-vous</a> ici</p>
  </div>
</form>
</div>
</div>
</div>
</div>
</div>
{% endblock content %}
